<h3 id="cancellations">Cancellation Policy</h3>
<h4>Airbnb Reservation Cancellations</h4>
<p>At this time, we are currently honoring <a href="https://www.airbnb.com/home/cancellation_policies#strict-with-grace-period">Airbnb's strict cancellation policy</a> for all bookings placed through Airbnb. If there is an extenuating circumstance you believe should be covered, we ask that you please contact Airbnb support directly as they have their own <a href="https://www.airbnb.com/help/article/1320/extenuating-circumstances-policy">extenuating circumstances policy</a> that is separate from the host cancellation policy, but it may protect you in some circumstances. </p>
<h4>All Other Reservation Cancellations</h4>
<p>For cancellations related to all bookings placed outside of Airbnb, our cancellation policy is a strict non-refundable policy. </p>
<h4>Travel Insurance</h4>
<p>As a general rule, we recommend you look into purchasing some form of travel insurance before your stay. This is not required, but it may help protect you when there are unforeseen circumstances that prevent you from traveling. It has helped me on a few trips I have taken over the years. </p>
