<h3 id="grill">Grill</h3>
<p>The grill outside is available for use. Please also abide by the following rules: </p>
<ul>
<li>The Grill is a shared ammenity. </li>
<li>Grill should be monitored and attended at all times. Do not leave grill unattended for any reason. For example: Do not attempt to cook ribs and leave the grill on for several hours and leave the house. </li>
<li>After use, please ensure the propane is <strong>completely</strong> shut off using the knobs, as well as on the tank itself.</li>
<li>Please ensure all utensils are removed from the grill, and brought back to the listing once you are done. This includes any forks, knives, spatulas, etc.</li>
<li>Do not leave any food on the grill after you're done using it.</li>
<li>Please cover the grill only once it has cooled down.</li>
</ul>

