<h3 id="localrecommendations">Local Recommendations</h3>

<h4>Beaches</h4>



<h4>Pizza</h4>
<ul>
  <li><a href="https://www.facebook.com/pages/category/Pizza-Place/HILLTOP-CAFE-107543132600584/">Hilltop Café</a></li>
<ul><li>Address: 23 Canal St, Westerly, RI 02891</li></ul>
</ul>


<h4>Fresh Seafood</h4>
<ul>
  <li><a href="https://www.yelp.com/biz/seafood-etc-pawcatuck">Seafood Etc</a></li>
<ul><li>Address: 2 S Broad St, Pawcatuck, CT 06379</li></ul>
</ul>


<h4>Grocery Stores</h4>
<ul>
  <li><a href="https://www.bigy.com/">Big Y</a></li>
<ul><li>Address: 79 Stonington Rd, Mystic, CT 06355</li></ul>
  <li><a href="https://www.mcquadesmarket.com/weekly-specials.php">McQuade's Marketplace</a></li>
<ul><li>Address: 14 Clara Drive, Mystic, CT. 06355</li></ul>
</ul>
