<h3 id="localrecommendations">Local Recommendations</h3>

<p>Below is a map featuring a number of local recommendations. </p>

<p>On this map We have included everything from Pizza Places to Grocery Stores to Museums. Please feel free to visit the <a href="https://wanderlog.com/view/stllhdmygz/mystic-guide/shared">following link</a> to see a more detailed list where you can filter the map and use other advanced features.</p> 

<script>window.wanderlogEmbedKeys=['stllhdmygz'];window.wanderlogEmbedOptions={"alwaysShowRouteLines":true,"omitExternalLinks":false,"omitWebsitePhone":false,"version":2};</script><div id="Wanderlog__mapEmbed_stllhdmygz" style="display: block; width: 100%"></div><script src="https://wanderlog.com/embed.js" async defer></script>
