<h3 id="localrecommendations">Local Recommendations</h3>

<h4>Beaches</h4>
<ul>
  <li><a href="https://www.stoningtonboroughct.com/dubois-beach">duBois Beach</a></li>
<ul>
<li>Address: 1 Water St, Stonington, CT 06378</li>
<li>Other Information: This is definitely the closest beach to the house. To sit at the beach you will need to purchase a day pass. There is also a big parking lot here with a grassy area with picnic tables that does not require a beach pass. There are also amazing views where you can see New York and Rhode Island if you look out across the water. </li>
</ul>

<li><a href="https://riparks.com/beach/misquamicut.php">Misquamicut State Beach</a></li>
<ul>
<li>Address: 257 Atlantic Avenue, Westerly, RI 02891</li>
<li>Other Information: Be aware that this is a popular beach. So if it is the summertime, you'll want to leave quite early to get there. You should also check the website for specific parking information including cost. </li>
</ul>

  <li><a href="https://riparks.com/beach/east-matunuck.php">East Matunuck State Beach</a></li>
<ul>
<li>Address: 950 Succotash RdSouth Kingstown, RI 02879</li>
<li>Other Information: This is a popular surf spot. </li>
</ul>
</ul>

<h4>Pizza</h4>
<ul>
  <li><a href="https://www.facebook.com/pages/category/Pizza-Place/HILLTOP-CAFE-107543132600584/">Hilltop Café</a></li>
<ul><li>Address: 23 Canal St, Westerly, RI 02891</li></ul>
  <li><a href="http://www.mysticpizza.com/">Mystic Pizza</a></li>
<ul><li>Address: 56 W Main St, Mystic, CT 06355</li>
<li>Other Information: Please be aware there are two locations. I am providing the address for the <strong>original</strong> Mystic Pizza located in downtown Mystic. </li>
</ul>

</ul>

<h4>Fresh Seafood</h4>
<ul>
  <li><a href="https://www.yelp.com/biz/seafood-etc-pawcatuck">Seafood Etc</a></li>
<ul><li>Address: 2 S Broad St, Pawcatuck, CT 06379</li></ul>
</ul>

<h4>Grocery Stores</h4>
<ul>
  <li><a href="https://www.bigy.com/">Big Y</a></li>
<ul><li>Address: 79 Stonington Rd, Mystic, CT 06355</li></ul>
  <li><a href="https://www.mcquadesmarket.com/weekly-specials.php">McQuade's Marketplace</a></li>
<ul><li>Address: 14 Clara Drive, Mystic, CT. 06355</li>
<li>Other Information: Keep in mind there are multiple locations for this store. Both are fairly close to the house, but I am providing the address for the one in Mystic. </li></ul>
</ul>

<h4>Vineyards</h4>
<ul>
  <li><a href="https://stoningtonvineyards.com/">Stonington Vineyards</a></li>
<ul><li>Address: 523 Taugwonk Rd, Stonington, CT 06378</li>
<li>Other Information: This is by far my favorite Vineyard in the area and it is extremely close by to the house - but there are no shortage of great Vineyards around. </li></ul>
</ul>
