<h3 id="lostandfound">Lost and Found</h3>

<p>If you accidentally leave something behind at one of our listings, have no fear! If we find it, we will be happy to ship it back to you. We've shipped it all: phone chargers, smart watch chargers, bathing suits, coats, wallets, life preservers, someone's favorite undergarments, and many other things. </p>
<p>Logistics for getting your items back:</p>
<ul>
<li>You will need to provide us with the shipping name and address. </li>
<li>We will bring your item to <a href="https://mysticmailbox.wixsite.com/mysticmailbox/about">Mystic Mailbox</a> along with your address and contact information. 
</li>
<li>Mystic Mailbox will contact you to collect payment information and ship your items out.</li>
</ul>
<p>Please understand that this is a "best effort" service. Shipping items does require time out of our work day to collect your items and bring them to be shipped. So we do not have any guaranteed timeframe to get them back. </p> 
