<h3 id="lostandfound">Lost and Found</h3>

<p>If you accidentally leave something behind at one of our listings, have no fear! If we find it, we will be happy to ship it back to you. Whether it is a phone charger, smart watch charger, or even a coat - we've got your back. </p>
<p>We only require:</p>
<ul>
<li>
That you pay for the shipping costs prior to us mailing the item back. </li>
<li>That you understand this is a best-effort service. So we cannot guarantee same day shipping. </li>
<li>That you provide us with a valid address to ship the item back to. </li>
</ul>

As far as payment details for shipping:

<ul>
<li><strong>If you've booked through Airbnb</strong>, we will request the money through the Airbnb resolution center</li>
<li><strong>If you've booked directly with us</strong>, we will ask that you send us money through Venmo, Zelle, or some other method</li>
</ul>
