<h2 id="nightlights">Safety Lights</h2>
<p>As a safety mechanism, we have several lights throughout the Airbnb. These lights are constantly charged via the power outlet they are plugged into. In the event of a power outage they can be unplugged and will double as a flashlight. </p>
<img src="assets/images/nightlight3.JPG"></img>
<p>When these are plugged in, the lights will only automatically turn on when it is dark. The light sensor is located as shown below. </p>
<img src="assets/images/nightlight2.JPG"></img>
<p>If you would like to turn the light off, press the power button on the side of the light. </p>
<img src="assets/images/nightlight1.JPG"></img>
<p><i>Note that some guests may power these off using the button, however they still will be charging. </i></p>

