<h3 id="nightlights">Safety Lights</h3>
<p>As a safety mechanism, we have several lights throughout the listing. These lights are constantly charged via the power outlet they are plugged into. In the event of a power outage they can be unplugged and will double as a flashlight. </p>
<img width="50%" height="50%" src="assets/images/nightlight3.JPG"/>
<p>When these are plugged in, the lights will only automatically turn on when it is dark. The light sensor is located as shown below. </p>
<img width="50%" height="50%" src="assets/images/nightlight2.JPG"/>
<p>If you would like to turn the light off, press the power button on the side of the light. </p>
<img width="50%" height="50%" src="assets/images/nightlight1.JPG"/>
<p><i>Note that some guests may power safety lights off using the button, however they still will be charging and you can turn them back on during your stay. </i></p>

