<h3 id="packages">Packages & Deliveries</h3>
<p>We understand that you may need to receive a shipment during your stay. You are more than welcome to ship small items to the house, but please keep in mind a couple of things:</p>
<ul>
<li>Guest is responsible for picking up, or accepting, any packages. Host will not be expected to do this on guest's behalf. As such, no packages should be sent "C/O" or "Care Of" your host. </li>
<li>Host is not responsible for any missing packages. Guest will need to keep an eye out for packages being delivered to them, and work with carrier for any packages that do not arrive as expected. </li>
<li>Guest is responsible for any boxes that their packages are shipped in. Small boxes that are broken down, can be left inside the recycling bin. </li>
<li>Any medium or large size boxes need to be removed from the premises by the guest. Especially boxes that do not fit inside the recycling bin, or boxes that need to be "squeezed" to fit inside of the recycling bin. Leaving boxes out or packing the recycling bin full of boxes may result in a fee. </li>
</ul>
