<h3 id="packages">Packages & Deliveries</h3>
<p>We understand that you may need to receive a shipment during your stay. You are more than welcome to ship small items to the house, but please keep in mind a couple of things:</p>
<ul>
<li>Your host is not responsible for picking up, or accepting,  any packages on your behalf. As such, no packages should be sent "C/O" or "Care Of" your host. </li>
<li>Your host is not responsible for any missing packages. You will need to keep an eye out for packages, and work with your carrier for anything that does not arrive as expected. </li>
<li>You are responsible for any boxes that your packages may come in. Small boxes that are broken down, can be left inside the recycling bin. </li>
<li>Any medium or large size boxes need to be removed from the premises by the guest. Especially boxes that do not fit inside the recycling bin, or boxes that need to be "squeezed" to fit inside of the recycling bin. </li>
</ul>
