<p>We currently can only accomodate <strong>two cars</strong> at this Airbnb at a time. This is for multiple reasons:
    <ul>
        <li>Unfortunately, due to prior guests throwing parties at our listing.</li>
        <li>To limit "traffic" on the property and any cars potentially bumping into one another.</li>
    </ul>
<p>If you have more than 2 vehicles, you are welcome to park an additional vehicle about a 1.5 miles away at the following Commuter Lot:</p>
<p><a href="https://www.google.com/search?q=15+Taugwonk+Road%2C+Stonington+CT%2C+06378&oq=15+Taugwonk+Road%2C+Stonington+CT%2C+06378&aqs=chrome..69i57j33i299j33i22i29i30.549j0j7&sourceid=chrome&ie=UTF-8#">15 Taugwonk Road, Stonington CT, 06378</a></p>

<p><strong>No cars are allowed to be left parked in the driveway, or on the street in front of the house either before check-in time, or after checkout time.</strong></p>

