<p>As a guest of this Airbnb, you are welcome to use the pool. The pool is open for use between 8AM and 10PM. Please understand that is a shared space, and so you should be respectful of other guests who may also want to use the pool.</p> 

<p>We leave the lights on around the pool area up until 10PM. We ask that you read and agree to the following rules.</p>

<ol type="1">
<li>No lifeguard on duty, swim at your own risk.</li>
<li>Shower before entering the pool.</li>
<li>No animals in pool or on pool deck.</li>
<li>No food, glassware, or alcoholic beverages allowed in pool or on pool deck.</li>
<li>No diving or running.</li>
<li>No boisterous or rough play.</li>
<li>Children under the age of 14 years old shall not use pool without a parent or adult guardian in attendance.</li>
<li>8 persons allowed in the pool at one time.</li>
<li>For Emergency Assistance Dial 911.</li>
<li>No Parties. </li>
<li>No loud music. You may play music quietly - but no loud music from bluetooth speakers or other devices. </li>
<li>Pool Hours: 8AM through 10PM</li>
</ol>
