<h3 id="propane">Propane</h3>

<h4 id="rules">Propane Guidelines</h4>

<p>When using the grill or the fire table, please ensure the propane is completely shut off when you are done. This means using the dial, as well as on the tank itself. We've unfortunately had many instances of folks leaving the dial on which is dangerous, and also costly as it will empty the entire tank. </p> 

<p>If we you've turned on the propane at the tank, and on the dial and you're still unable to get the grill or fire table lit - please try to light it using a match or lighter. </p>
    
<p>If you're still unable to get it lit, there is a chance we are out of propane for some reason - however we always ensure the tanks are full. You can feel free to send us a message as we may have a spare. </p>

<p>If by chance I am not in the area, and you need propane, you can feel free to take the tank to one of several local locations to exchange the tank. It generally costs around $15-$20. Two locations that do tank exchanges nearby are the following: </p>

If You're Staying in Mystic:
<ul>
    <li><a href="https://www.google.com/search?q=9+Hendel+Dr%2C+Mystic%2C+CT+06355&oq=9+Hendel+Dr%2C+Mystic%2C+CT+06355&aqs=chrome..69i57j33i160j33i299j33i22i29i30.143j0j7&sourceid=chrome&ie=UTF-8">True Value Mystic</a></li>
</ul>

If You're Staying in Stonington/Westerly: 
<ul>
    <li><a href="https://www.google.com/search?q=87+W+Broad+St%2C+Pawcatuck%2C+CT+06379&biw=1300&bih=692&tbm=lcl&sxsrf=ALiCzsZavglFdUQTS50SqHrfWXtI-H9PEw%3A1654374455954&ei=N8CbYoLuOduhptQP5uKe2A0&oq=87+W+Broad+St%2C+Pawcatuck%2C+CT+06379&gs_l=psy-ab.3..38.33164.33164.0.33311.1.1.0.0.0.0.85.85.1.1.0....0...1c.2.64.psy-ab..0.1.85....0.gpEbLj9_vgA">Mobil Station Westerly</a></li>
    <li><a href="https://www.google.com/search?q=170+Granite+St%2C+Westerly%2C+RI+02891&biw=1300&bih=692&tbm=lcl&sxsrf=ALiCzsZ1Hbv8TXTZnV24m10VIgt41e3rOQ%3A1654374556269&ei=nMCbYsPsD7yaptQP_Zq2yAU&oq=170+Granite+St%2C+Westerly%2C+RI+02891&gs_l=psy-ab.3..38.8163.9845.0.10096.2.2.0.0.0.0.200.337.0j1j1.2.0....0...1c.1j2.64.psy-ab..0.2.336...33i299k1j33i30i22i29k1.0.BRcqlyKVOsI">Walgreens Westerly</a></li>
</ul>

