<h3 id="purchasing">Purchasing Items for the Airbnb</h3>
<p>We understand that each and every guest has their own preferences and needs, and so we do our best to consistently ensure we have everything guests could want in an Airbnb. </p>

<p>That being said, there will be gaps and ultimately times when a guests needs something - and we just don't have it. </p>

<p> During those times, you are welcome to talk to us about your needs, and we will do our best to acquire what you need or work with you to ensure you are comfortable. However, if you go ahead and purchase something for our listing, we will not automatically reimburse you for that item. This could include anything from curtains to blenders, etc.

<p>We appreciate the feedback and the desire to improve our listing, but we also reserve the right to make our own purchasing and decorating decisions. </p>
