<h3 id="tp">Toilet Paper, Paper Towels, and Trash Bags</h3>

<p>For guests we provide:</p>
<ul>
<li>One roll of toilet paper (per bathroom)</li>
<li>One roll of paper towels (per kitchen)</li>
<li>One trash bag (per kitchen)</li>
</ul>

<p>As an example, for our properties that have two bathrooms, you'll find a roll of toilet paper in each. </p>

<p>If you're wondering why: we've unfortunately had guests throw parties in the past (against our policies) and leave 15-20 completely full bags of trash in and around the property. This has caused quite a disruption and so we've unfortunately decided to leave fewer disposables. As a result, these amenities we do leave are a "what you see is what you get". </p>
<p>We therefore do not provide additional paper towels, toilet paper, or trash bags. So please remember extra if you're staying for a period of time where you think you'll need additional.</p> 

