<h3 id="tp">Toilet Paper, Paper Towels, and Trash Bags</h3>

<p>For guests we provide:</p>
<ul>
<li>One roll of toilet paper (per bathroom)</li>
<li>One roll of paper towels (per kitchen)</li>
<li>One trash bag (per kitchen)</li>
</ul>

<p>As an example, for our properties that have two bathrooms, you'll find a roll of toilet paper in each. </p>

<p>These amenities are "what you see is what you get". We cannot provide additional paper towels, toilet paper, or trash bags. So please remember extra if you're staying for a period of time where you think you'll need additional.</p> 

