### Trash and Recycling

Trash and recycling bins are located on the side of the driveway. **Trash must be bagged**. This is in accordance with town rules. We cannot throw loose trash away at our local transfer station. 

If you do not see the bins outside, it likely means they are inside the yellow shed. You are welcome to open the door and place any trash or recycling in the bins inside of the shed. 

🔴 Red Bin is for Trash

🟢 Green Bin is for Recycling

**Other notes:**

No trash should be brought to the premises when you arrive. 

Please place all trash and recycling in the appropriate bin before you leave.

Any guests who create excess trash will be charged accordingly for removal. If you're unclear on what "excess trash" means in relation to your visit, please feel free to ask. 

* As an example, you should not plan to throw a party and leave us with 12 bags of trash. 